.r1{
    font-style: italic;
    font-size: x-large;
    background-color: lightgreen;
}

img{
    border-radius: 20%;
    
}
.p1{
color: blue;
background-color: lightblue;
font-size: medium;
}
.p2{
    color: maroon;
    background-color: royalblue;
    font-size: medium;
}
.g1{
    color:blue ;
    font-style: italic;
    font-size: medium;
}
.p3{
    color: blue;
    background-color: lightblue;
    font-size: medium;
}
.nato{
    font-style: italic;
    font-size: x-large;
}

.naslov{
    color: crimson;
    font-size: x-large;
}
