.r1{
    font-style: italic;
    font-size: x-large;
    background-color: lightgreen;
}
}
h1{
    color: blue;
    background-color: lightblue;
    font-size: x-large;
}
img{
    border-radius: 20%;
}
.p1{
color: blue;
background-color: lightblue;
font-size: medium;
}
.p2{
    color: maroon;
    background-color: royalblue;
    font-size: medium;
}
.g1{
    color:blue ;
    background-color: rgb rgb(152, 228, 152) ;
    font-size: medium;
}
.p3{
    color: blue;
    background-color: lightblue;
    font-size: medium;
}
